#navbar {
    width: 100%;
  }
  
  .uppernav {
    background-color: #000;
    width: 100%;
    height: 60px;
  }
  
  .upnav_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 4rem;
  }
  
  .img_flag {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
  }
  
  .img_flag img {
    width: 20px;
  }
  
  .about {
    display: flex;
    color: #fff;
    gap: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .lowernav {
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .lnav_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  
  .img  {
    width: 120px;
  }
  
  .content {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    color: #6f6d6d;
    cursor: pointer;
  }
  
  .content .rdr:hover {
    color: #ff6085;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  
  .search_case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 1px solid #cec8c8;
    border-radius: 60px;
    padding-left: 10px;
    font-size: 1.2rem;
  }
  
  .search_case .search {
    border: none;
  }
  
  .search {
    width: 30px;
    height: 30px;
    border: 1px solid #cec8c8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(104, 102, 102, 0.2);
  }
  
  .search:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }
  
  .likes1,
  .likes2 {
    position: absolute;
    background-color: #00b1ff;
    border-radius: 50%;
    font-size: 1rem;
    width: 15px;
    height: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
  }
  
  .likes1 {
    top: -5px;
    right: -5px;
  }
  
  .likes2 {
    top: -5px;
    right: -15px;
  }
  
  .sing_in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 60px;
    background-color: #2577fd;
    font-size: 1.4rem;
    color: #fff;
  }
  
  .sing_in:hover {
    background-color: #00b1ff;
  }
  
  .dep_cart {
    display: none;
  }
  
  .media_card {
    width: 30px;
    height: 30px;
    border: 1px solid #cec8c8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(104, 102, 102, 0.2);
  }
  
  .dep_menu {
    display: none;
    width: 100%;
    height: 40px;
    background-color: #5b5858;
    color: #fff;
    position: fixed;
    top: 60px;
    z-index: 999;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
  }
  
  .menu {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 0 10px;
    border-radius: 5px;
    height: 30px;
    gap: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative; 
    
  }
  

  .dropdown-content {
    display: none; 
    position: absolute;
    top: 35px; 
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .menu:hover .dropdown-content {
    display: block;
  }
  
  .menu:hover {
    background-color: #444;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .rdr:hover {
    color: #ff6085;
  }
  
  @media (max-width: 992px) {
    .uppernav {
      display: none;
    }
  
    .icons {
      display: none;
    }
  
    .content {
      display: none;
    }
  
    .dep_cart {
      display: block;
    }
  
    .dep_menu {
      display: flex;
    }
  
    .lowernav {
      height: 70px;
    }
  
    .lnav_area {
      justify-content: space-between;
      padding: 0 2rem;
    }
  
    .img {
      width: 100px;
    }
  }
  
  @media (max-width: 576px) {
    .sing_in {
      width: 80px;
      height: 30px;
      font-size: 1.2rem;
    }
}
#pr_list {
    width: 100%;
    height: 400px;
  }
  
  .prod_list {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-image: url(../images/category.jpg);
  }
  @media (max-width: 1224px) {
    .prod_list {
      font-size: 25px;
      height: 220px;
    }
  }
  @media (max-width: 767px) {
    .prod_list {
      font-size: 20px;
      height: 200px;
    }
  }
  
  .product-area {
    color: #828BB2;
    font-size: 17px;
    font-family: "Playfair Display";
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    width: 100%;
}

.container {
    margin: 40px 140px;
    font-size: 20px;
}

.product-list ul {
    display: flex;
    list-style-type: none;
    gap: 70px;
}

.product-left .image img {
    width: 150px;
    height: 155px;
    object-fit: cover;
}

.product-left-area {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    gap: 20px;
}

.products {
    margin-left: 190px;
}

.product-left {
    display: flex;
    gap: 20px;
}

.product-left .product-text {
    margin-top: 82px;
}

.price p {
    margin-left: 188px;
    margin-top: 80px;
}

.quantity-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 60px;
    padding: 5px;
    height: 60px;
    margin-left: 40px;
    margin-top: 60px;
}

.quantity-container input {
    width: 30px;
    text-align: center;
    border: none;
}

.quantity-buttons {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}

.quantity-buttons button {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 20px;
    height: 15px;
    font-size: 14px;
}

.total p {
    margin-left: 40px;
    margin-top: 80px;
}

.button {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding-top: 25px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    width: 100%;
}

.button a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #2577fd;
    color: white;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}

.subtotal-area {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid grey;
    width: 100%;
    gap: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #828BB2;
    font-size: 17px;
    font-weight: 500;
}

.shopping-area {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    padding-top: 30px;
}

.shopping-area h5 {
    color: #415094;
    font-weight: 600;
    font-size: 15px;
}

.shopping-area span {
    color: #828bb2;
    font-size: 16px;
    margin-right: 5px;
}

input[type='radio'] {
    color: grey;
    margin-right: 148px;
}

.shipping-text {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.shipping-text span {
    color: #828bb2;
    font-size: 16px;
    margin-right: 5px;
}

.calculate-area {
    display: flex;
    border-bottom: 1px solid grey;
    width: 100%;
    padding-bottom: 25px;
    justify-content: flex-end;
    margin-right: 60px;
    padding-top: 25px;
}

.calculate-area h6 {
    margin-right: 13px;
    color: #415094;
    font-weight: 500;
    font-size: 14px;
}

.calculate-area i {
    margin-top: 5px;
}

.bangle, .state, .post {
    display: flex;
    justify-content: flex-end;
    margin-right: 145px;
    padding-top: 20px;
}

.bangle select, .state select, .post input[type='text'] {
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

.btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    width: 100%;
}

.btn a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #2577fd;
    color: white;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}

.btn1 a {
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #2577fd;
    color: white;
    padding: 17px 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}

.btn1 {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 20px;
    gap: 20px;
    width: 100%;
}

.button a:hover, .btn a:hover, .btn1 a:hover {
    color: #2862e0;
    border: 1px solid #2862e0;
    background-color: white;
}

@media screen and (max-width: 1268px) {
    .container {
        margin: 60px 20px;
    }
    .products {
        margin-left: 0;
    }
    .product-left-area {
        flex-direction: column;
        align-items: center;
    }
    .product-left, .price, .quantity-container, .total {
        margin-top: 10px;
        text-align: center;
    }
    .button {
        flex-direction: column;
        align-items: center;
    }
    .button a {
        margin-bottom: 10px;
    }
    .subtotal-area, .shopping-area {
        flex-direction: column;
        align-items: center;
    }
    .shopping-area span {
        margin-right: 0;
    }
    .calculate-area {
        flex-direction: column;
        align-items: center;
    }
    .btn1 {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer-top {
        flex-direction: column;
        align-items: center;
      }
    
      .footer-column {
        width: 90%;
        text-align: center;
      }
    
      .footer-bottom {
        flex-direction: column;
        gap: 20px;
      }
}

  footer {
    background-color: #f9f9f9;
    padding-top: 150px;
    font-family: "Poppins", sans-serif;
    color: #868c98;
  }
  
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 22%;
    margin-bottom: 30px;
  }
  
  .footer-logo img {
    margin-bottom: 30px;
  }
  
  .footer-column p {
    font-size: 16px;
    line-height: 1.8;
    color: #868c98;
  }
  
  .footer-column h4 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 35px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 15px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #868c98;
  }
  
  .footer-column ul li a:hover {
    color: #2577fd;
  }
  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eeeeee;
    padding-top: 40px;
    margin-top: 70px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }
  
  .footer-bottom p {
    font-size: 16px;
    color: #888888;
    font-weight: 300;
  }
  
  .footer-bottom p a {
    color: #2577fd;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .heart-icon {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    vertical-align: middle;
  }
  
  .footer-social-icons a {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-social-icons img {
    width: 14px;
    height: 14px;
  }